{
  "counterReportsPerYear": [
    {
      "year": 2019,
      "reportsPerType": [
        {
          "reportType": "PR",
          "counterReports": [
            {
              "id": "f6a2d16d-cf66-4a65-b112-859340b2bbf1",
              "downloadTime": "2020-02-19T14:12:52.479+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "PR",
              "yearMonth": "2019-11",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:52.406+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:54.077+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            },
            {
              "id": "a0b749a3-5b9c-4ee1-824e-f77b35ae9ee6",
              "downloadTime": "2020-02-19T14:12:52.482+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "PR",
              "yearMonth": "2019-05",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:52.646+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:53.860+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            }
          ]
        },
        {
          "reportType": "IR",
          "counterReports": [
            {
              "id": "9f5c2753-77a3-4b75-a006-d39c65150ca8",
              "downloadTime": "2020-02-19T14:12:56.530+0000",
              "release": "5",
              "reportName": "IR",
              "yearMonth": "2019-01",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-21T10:39:44.360+0000",
                "createdByUserId": "99999999-9999-9999-9999-999999999999",
                "updatedDate": "2020-02-21T10:39:44.360+0000",
                "updatedByUserId": "99999999-9999-9999-9999-999999999999"
              }
            },
            {
              "id": "32a887eb-e5ec-41c4-9a83-fd114471a9d2",
              "downloadTime": "2020-02-19T14:12:56.530+0000",
              "release": "5",
              "reportName": "IR",
              "yearMonth": "2019-02",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-21T10:54:51.621+0000",
                "createdByUserId": "99999999-9999-9999-9999-999999999999",
                "updatedDate": "2020-02-21T10:54:51.621+0000",
                "updatedByUserId": "99999999-9999-9999-9999-999999999999"
              }
            }
          ]
        }
      ]
    },
    {
      "year": 2018,
      "reportsPerType": [
        {
          "reportType": "PR",
          "counterReports": [
            {
              "id": "f047e5b3-e957-4f66-a00d-f77fc4b32870",
              "downloadTime": "2020-02-19T12:54:52.111+0000",
              "release": "5",
              "reportName": "PR",
              "yearMonth": "2018-08",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-20T13:42:35.327+0000",
                "createdByUserId": "99999999-9999-9999-9999-999999999999",
                "updatedDate": "2020-02-20T13:42:35.327+0000",
                "updatedByUserId": "99999999-9999-9999-9999-999999999999"
              }
            },
            {
              "id": "1a7034bf-b817-4c1e-b56b-35fa88f76d88",
              "downloadTime": "2020-02-19T14:12:52.478+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "PR",
              "yearMonth": "2018-10",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:52.398+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:53.871+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            }
          ]
        },
        {
          "reportType": "IR",
          "counterReports": [
            {
              "id": "a943de5f-2d74-4167-a79e-ce1cf2bf40cd",
              "downloadTime": "2020-02-19T14:12:56.000+0000",
              "release": "5",
              "reportName": "IR",
              "yearMonth": "2018-10",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:52.263+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:56.151+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            },
            {
              "id": "2140e3d1-b5b4-48d6-b542-f5b7ac46e0a0",
              "downloadTime": "2020-02-19T14:12:52.265+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "IR",
              "yearMonth": "2018-05",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:52.376+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:52.394+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            }
          ]
        }
      ]
    },
    {
      "year": 2020,
      "reportsPerType": [
        {
          "reportType": "PR",
          "counterReports": [
            {
              "id": "33e780f6-db27-4a33-bdaf-aeeb1523ae57",
              "downloadTime": "2020-02-19T14:12:52.484+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "PR",
              "yearMonth": "2020-01",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:54.107+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:53.548+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            }
          ]
        },
        {
          "reportType": "IR",
          "counterReports": [
            {
              "id": "8f1c7f13-6f95-4811-81be-0285c331063a",
              "downloadTime": "2020-02-19T14:12:52.386+0000",
              "failedAttempts": 2,
              "failedReason": "[{\"Code\":1020,\"Severity\":\"Fatal\",\"Message\":\"Client has made too many requests\",\"Data\":\"Please request reports sequentially once per second. Simultaneous requests are not supported.\"}]",
              "release": "5",
              "reportName": "IR",
              "yearMonth": "2020-01",
              "providerId": "5aac21f2-1791-4b21-8ae3-f6a9013f42dc",
              "metadata": {
                "createdDate": "2020-02-19T12:54:53.656+0000",
                "createdByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35",
                "updatedDate": "2020-02-19T14:12:53.611+0000",
                "updatedByUserId": "86b5c4be-77d9-5e12-8eb6-9a08b5240f35"
              }
            }
          ]
        }
      ]
    }
  ]
}
