{
  "usageDataProviders": [
    {
      "id": "4c66b956-23a8-4418-aef6-1c35dcdaccd6",
      "label": "Data provider with aggregator",
      "vendorId": "uuid-123456789",
      "platformId": "uuid-123456789",
      "harvestingStatus": "active",
      "aggregator": {
        "id": "4c66b956-23a8-4418-aef6-1c35dcdaccc4",
        "vendorCode": "ACMDL"
      },
      "reportRelease": 4,
      "requestedReports": [
        "JR1",
        "TR1"
      ],
      "customerId": "12345def",
      "requestorId": "1234abcd",
      "apiKey": "678iuoi",
      "requestorName": "Karla Kolumna",
      "requestorMail": "kolumna@ub.uni-leipzig.de"
    },
    {
      "id": "bf6c9ddc-ff82-40c4-be64-dd2414bdcd72",
      "label": "Data provider without aggregator",
      "vendorId": "uuid-123456789",
      "platformId": "uuid-123456789",
      "harvestingStatus": "active",
      "apiType": "Sushi",
    	"vendorServiceUrl": "http://myvendor.com",
      "reportRelease": 4,
      "requestedReports": [
        "JR1",
        "TR1"
      ],
      "customerId": "12345def",
      "requestorId": "1234abcd",
      "apiKey": "678iuoi",
      "requestorName": "Karla Kolumna",
      "requestorMail": "kolumna@ub.uni-leipzig.de"
    }
  ],
  "totalRecords": 2
}