{
  "id": "4c66b956-23a8-4418-aef6-1c35dcdaccd6",
  "label": "ACM Digital Library",
  "vendorId": "uuid-123456789",
  "platformId": "uuid-123456789",
  "harvestingStatus": "active",
  "aggregator": {
    "id": "4c66b956-23a8-4418-aef6-1c35dcdaccc4",
    "vendorCode": "ACMDL"
  },
  "reportRelease": 4,
  "requestedReports": [
    "JR1",
    "TR1"
  ],
  "customerId": "12345def",
  "requestorId": "1234abcd",
  "apiKey": "678iuoi",
  "requestorName": "Karla Kolumna",
  "requestorMail": "kolumna@ub.uni-leipzig.de",
  "notes": "New customer ID since 2018-05-01"
}